<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    
    <title>Our Website</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/icon.css">

  </head>
  <body>
      <nav class="navbar navbar-inverse" style="background-color: rgb(14,14,14); margin-bottom: 0px;">
          <div>
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-content" aria-expanded="false">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand nav-font" href="#"><b>Company</b></a>
              </div>
            
            <div class="collapse navbar-collapse" id="navbar-content">
                  <ul class="nav navbar-nav" id="menu">
                      <li><a class="nav-font" href="/">Home</a></li>
                      <li><a class="nav-font" href="/problems">Problems</a></li>
                      <li><a class="nav-font" href="/resources">Resources</a></li>
                      <li><a class="nav-font" href="/about">About Us</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right" id="menu">
                  <% if(!currentUser){ %>   
                      <li>
                          <a class="nav-font" href="/login">
                              <span class="glyphicon glyphicon-log-in"></span> Login
                          </a>
                      </li>
                      <li>
                          <a class="nav-font" href="/register">
                              <span class="glyphicon glyphicon-user"></span> Sign Up
                          </a>
                      </li>
                  <% } else{ %>
                      <li>
                          <div class="res-circle">
                              <p class="circle-txt"><%= currentUser.firstName[0] %> </p>
                          </div>
                      </li>
                      <li>
                          <a class="nav-font" href="/userprofile">
                              </span> <%= currentUser.firstName %> <%= currentUser.lastName %></span> 
                          </a>
                      </li>
                      <li>
                          <a class="nav-font" href="/logout">
                              <span class="glyphicon glyphicon-log-out"></span> Logout
                          </a>
                      </li>
                  <% } %>
                  </ul>
              </div>
          </div>
      </nav>
      <div class="container">
          <% if(error && error.length > 0){ %>
              <div class="alert alert-danger" role="alert">
                  <%= error %>
              </div>
          <% } %>
          <% if(success && success.length > 0){ %>
              <div class="alert alert-success" role="alert">
                  <%= success %>
              </div>
          <% } %>
      </div>
    <header class="w3-container w3-theme w3-padding" id="myHeader">
      <div class="w3-center">
        <h4>RESOURCES</h4>
        <h1 class="w3-xxxlarge w3-animate-bottom">BTP Project</h1>
        <p>
            We have used the best resources out there to provide the best experience to the User
        </p>
      </header>
    </div>
  </div>
  <div class="w3-row-padding w3-center w3-margin-top" style="margin-bottom: 20px;">
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
        <h3>Leet Code</h3><br>
        <img src="https://leetcode.com/static/images/LeetCode_logo.png" style="width:168px;height:168px; "></i>
        <p style="margin-top: 20px;">It's a website where people–mostly software engineers–practice their coding skills. There are 800+ questions (and growing), each with multiple solutions. Questions are ranked by level of difficulty: easy, medium, and hard. </p><br>
        
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
        <h3>SPOJ</h3><br>
        <img src="https://d33wubrfki0l68.cloudfront.net/87ddd9f20eb73ed2b6094996068387db618ccda6/d1dde/img/uploads/spoj.jpg" style="width:168px;height:168px; "></i>
        <p style="margin-top: 20px;">SPOJ is an online judge system with over 640,000 registered users and over 20,000 problems. Tasks are prepared by its community of problem setters or are taken from previous programming contests.  </p><br>
        
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
        <h3>HackerEarth</h3><br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/e/e8/HackerEarth_logo.png" style="width:168px;height:168px; "></i>
        <p style="margin-top: 20px;">HackerEarth provides enterprise software that helps organisations with their technical hiring needs. HackerEarth is used by organizations for technical skill assessment and remote video interviewing. In addition to that HackerEarth also has a community and since inception built a base of 4M+ developers. </p><br>
        
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
        <h3>Top Coder</h3><br>
        <img src="https://www.betterteam.com/i/topcoder-job-posting-1024x512-20190109.png" style="width:168px;height:168px; "></i>
        <p style="margin-top: 20px;">Topcoder is a crowdsourcing company with an open global community of designers, developers, data scientists, and competitive programmers. Topcoder pays community members for their work on the projects and sells community services to corporate, mid-size, and small-business clients. </p><br>
        
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
        <h3>CodeChef</h3><br>
        <img src="https://www.codechef.com/misc/fb-image-icon.png" style="width:168px;height:168px;">
        <p style="margin-top: 20px;">CodeChef is a competitive programming website. It is a non-profit educational initiative of Unacademy, aimed at providing a platform for students. Apart from this, the 'CodeChef For Schools' program aims to reach out to young students and inculcate a culture of programming in Indian schools.</p><br>
      </div>
    </div>
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
        <h3>Codeforces</h3><br>
        <img src="https://image.winudf.com/v2/image/Y29tLlNvZnRUZWNocy5Db2RlRm9yY2VzX2ljb25fMF9jOTA3NjNhMA/icon.png?w=170&fakeurl=1" style="width:168px;height:168px;">
        <p style="margin-top: 20px;">It is maintained by a group of competitive programmers from ITMO University led by Mikhail Mirzayanov. Since 2013, Codeforces claims to surpass Topcoder in terms of active contestants. As of 2018, it has over 600,000 registered users.</p><br>
      </div>
    </div>
  </div>