<%- include('../user/header') %>
<div class="container popup">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
            <a class = "close">X</a>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
            <a class = "close">X</a>
        </div>
    <% } %>
</div>
<div class="row" style="margin-right:0px; ">
    <div class="col col-md-4" style="margin:auto; width: 30%;">
        <h3 style="text-align: center; margin-bottom: 5px;">User</h3>
        <hr>
        <div class="card">
            <div class="circle" style="margin:auto;">
                <p class="circle-text"><%= currentUser.firstName[0] %></p>
            </div>
            <!-- <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202007/tweet_0.png?zoxVA2.qIXQf7sSn2dFmWcHhkLoAkH5k&size=770:433" alt="Hello There" style="width:30%; margin-bottom: 10px;"> -->
            <h1 style="margin-top: 20px; margin-bottom: 10px;"><%= currentUser.firstName %> <%= currentUser.lastName %></h1>
            <hr>
            <table id="profile-content">
                <tr>
                    <td style="text-align: left;"> 
                        <span style="width: 18px; padding-bottom: 5px;" class="glyphicon glyphicon-user"></span>
                        <strong>Username:</strong>
                    </td>
                    <td class="detail"><%= currentUser.username %> </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <span style="width: 18px; padding-bottom: 5px;" class="glyphicon glyphicon-phone"></span>
                        <strong>Mobile number:</strong>
                    </td>
                    <td class="detail">
                        <% if(currentUser.phoneNo){ %> 
                            <%= currentUser.phoneNo %>
                        <% } else{ %>
                            ----
                        <% } %>  
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"> 
                        <span style="width: 18px; padding-bottom: 5px;" class="glyphicon glyphicon-envelope"></span>
                        <strong>Email:</strong>
                    </td>
                    <td class="detail">
                        <% if(currentUser.email){ %> 
                            <%= currentUser.email %>
                        <% } else{ %>
                            ---- 
                        <% } %> 
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><img style="width: 20px; padding-bottom: 5px;" src="https://image.winudf.com/v2/image/Y29tLlNvZnRUZWNocy5Db2RlRm9yY2VzX2ljb25fMF9jOTA3NjNhMA/icon.png?w=170&fakeurl=1" alt="">
                        <strong>Codeforces:</strong> 
                    </td>
                    <td class="detail">
                        <% if(currentUser.codeforcesUsername){ %>
                            <%= currentUser.codeforcesUsername %> 
                        <% } else { %>
                            ----
                        <% } %>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><img style="width: 20px; padding-bottom: 5px;" src="https://www.codechef.com/misc/fb-image-icon.png" alt="">
                        <strong>Codechef:</strong> 
                    </td>
                    <td class="detail">
                        <% if(currentUser.codechefUsername){ %>
                            <%= currentUser.codechefUsername %> 
                        <% } else { %>
                            ----
                        <% } %>  
                    </td>
                </tr>
            </table>
            <br>
            <div>
                <!-- <a href="/userprofile/edit/<%# currentUser._id %> " class="button">Edit Profile</a> -->
                <button type="button" class="button" data-toggle="modal" data-target="#profileedit">
                    Edit Profile
                </button>
                <br><br>
                <div class="modal fade" id="profileedit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h2 class="modal-title" id="exampleModalLongTitle">Edit Profile</h2>
                            </div>
                            <div class="modal-body">
                                <form action="/user/<%= currentUser._id %>/update?_method=PUT" method="POST">
                                    <div class="form-group">
                                        <label for="firstName" class="control-label pull-left">First Name*</label>
                                        <input type="text" id="firstName" placeholder="First Name" class="form-control" name="firstName" value="<%= currentUser.firstName %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastname" class="control-label pull-left">Last Name*</label>
                                        <input type="text" id="lastname" placeholder="Last Name" class="form-control" name="lastName" value="<%= currentUser.lastName %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="email" class="control-label pull-left">Email*</label>
                                        <input type="email" id="email" placeholder="Email" class="form-control" name="email" value="<%= currentUser.email %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="mobile" class="control-label pull-left">Mobile Number</label>
                                        <input type="number" id="mobile" placeholder="Mobile Number" class="form-control" name="phoneNo" value="<%= currentUser.phoneNo %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="Codeforces" class="control-label pull-left">Codeforces Username</label>
                                        <input type="text" id="Codeforces" placeholder="cfusername" class="form-control" name="codeforcesUsername" value="<%= currentUser.codeforcesUsername %>">
                                    </div>
                                    <div class="form-group">
                                        <label for="Codechef" class="control-label pull-left">Codechef Username</label>
                                        <input type="text" id="Codechef" placeholder="ccusername" class="form-control" name="codechefUsername" value="<%= currentUser.codechefUsername %>">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <button class="btn btn-primary">Edit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
        </div>
    </div>
    
    
    <div class=" col col-md-8" style="width: 60%; margin: auto; margin-top: 0px;"> 
        <h3 class="text-center" style="margin-bottom: 5px;">Contests</h3>
        <hr>
        
        <% if(currentUser.savedEvents.length >0){ %> 
            <table id="saved" style="margin-top: 15px;">
                <tr>
                    <th id="contest-name" style="text-align: center">Saved Events</th>
                </tr> 
                
                <% currentUser.savedEvents.forEach(function (item) { %>
                    <tr>
                        <td style="text-align: left; padding-left: 20px;">
                            <% for(var key in logo){ %>
                                <% if( key == item["resource"]["name"]){ %>
                                    <img style="height: 16px; width: 16px;" src="<%= logo[key]%>" style="width:168px;height:168px; "></i>
                                <% } %>
                            <% } %>
                            <a style="margin-left: 5px;" href=" <%= item["href"] %>"><%= item["event"]%></a>
                        </td>
                    </tr>
                <% }) %>            
            </table>
        <% } else{ %>
            <a class="tags" style="margin:auto;" href="/">Save a Contest</a>
        <% } %> 
        <div class="container" style="margin-top: 20px; ">
            <% if(currentUser.searchedTags.length>0){ %>
                Recently Searched Tags: 
                <% currentUser.searchedTags.reverse() %> 
                <% currentUser.searchedTags.forEach(function (tag, i) { %>
                    <% if(i<9) {%>
                        <span class="tags"><%= tag %> </span>
                    <% } %> 
                <% }) %>
            <% } else{ %>
                <a class="tags" href="/problems">Search a Problem</a>
            <% } %> 
        </div>
        <br><br>
        <div class="stats" style="margin: auto; margin-top: 20px;">
            <% if(currentUser.codeforcesUsername){ %> 
                <h4 class="text-center">Stats</h4>
                <hr>
                <br>
                <div id="chart_div" style="width: 60%; margin: auto;" ></div>
                <div id="chart_div2" style="height: 600px;"></div>
                <!-- style="width: 60%; margin: auto;"  -->
            <% } else{%>
                <p class="text-center">
                    Add Codechef & Codeforces id for Statistics
                </p>
            <% } %>
        </div>
          
    </div>
</div>
<%- include('../user/footer') %> 
