<%- include('../user/header') %>
<div class="container popup">
    <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
            <a class = "close">X</a>
        </div>
    <% } %>
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
            <a class = "close">X</a>
        </div>
    <% } %>
</div>
    <!-- <h1 style="text-align:center">User Profile</h1> -->
<div class="row">
    <div class="col col-md-4" style="margin:auto; width: 30%;">
        <h1 style="text-align:center; margin-bottom:0px;">User</h1>
        <div class="card">
            <div class="circle" style="margin:auto;">
                <p class="circle-text"><%= currentUser.firstName[0] %></p>
            </div>
            <!-- <img src="https://akm-img-a-in.tosshub.com/indiatoday/images/story/202007/tweet_0.png?zoxVA2.qIXQf7sSn2dFmWcHhkLoAkH5k&size=770:433" alt="Hello There" style="width:30%; margin-bottom: 10px;"> -->
            <h1 style="margin-top: 20px; margin-bottom: 10px;"><%= currentUser.firstName %> <%= currentUser.lastName %></h1>
            <hr>
            <table id="profile-content">
                <tr>
                    <td style="text-align: left;"> 
                        <span style="width: 18px; padding-bottom: 5px;" class="glyphicon glyphicon-user"></span>
                        <strong>Username:</strong>
                    </td>
                    <td class="detail"><%= currentUser.username %> </td>
                </tr>
                <tr>
                    <td style="text-align: left;">
                        <span style="width: 18px; padding-bottom: 5px;" class="glyphicon glyphicon-phone"></span>
                        <strong>Mobile number:</strong>
                    </td>
                    <td class="detail">
                        <% if(currentUser.phoneNo){ %> 
                            <%= currentUser.phoneNo %>
                        <% } else{ %>
                            ----
                        <% } %>  
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"> 
                        <span style="width: 18px; padding-bottom: 5px;" class="glyphicon glyphicon-envelope"></span>
                        <strong>Email:</strong>
                    </td>
                    <td class="detail">
                        <% if(currentUser.email){ %> 
                            <%= currentUser.email %>
                        <% } else{ %>
                            ---- 
                        <% } %> 
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><img style="width: 20px; padding-bottom: 5px;" src="https://www.codechef.com/misc/fb-image-icon.png" alt="">
                        <strong>Codechef:</strong> 
                    </td>
                    <td class="detail">
                        ----
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><img style="width: 20px; padding-bottom: 5px;" src="https://image.winudf.com/v2/image/Y29tLlNvZnRUZWNocy5Db2RlRm9yY2VzX2ljb25fMF9jOTA3NjNhMA/icon.png?w=170&fakeurl=1" alt="">
                        <strong>Codeforces:</strong> 
                    </td>
                    <td class="detail">
                        ----
                    </td>
                </tr>
            </table>
            <br>
            <div>
                <a href="/userprofile/edit/<%= currentUser._id %> " class="button">Edit Profile</a>
			</div>
        </div>
    </div>
    
    <div class=" col col-md-8" style="width: 60%; margin: auto;"> 
        <!-- <h3 class="text-center">Saved Events</h3> -->
        <table id="saved">
            <tr>
                <th id="contest-name" style="text-align: center">Saved Events</th>
            </tr> 
            
            <% currentUser.savedEvents.forEach(function (item) { %>
                <tr>
                    <td style="text-align: left; padding-left: 20px;">
                        <% for(var key in logo){ %>
                            <% if( key == item["resource"]["name"]){ %>
                                <img style="height: 16px; width: 16px;" src="<%= logo[key]%>" style="width:168px;height:168px; "></i>
                            <% } %>
                        <% } %>
                        <a style="margin-left: 5px;" href=" <%= item["href"] %>"><%= item["event"]%></a>
                    </td>
                </tr>
            <% }) %>            
        </table>
        <div id="chart_div" style="margin: auto;" ></div>
        
    </div>
</div>
<%- include('../user/footer') %> 
