<%- include('../problems/header') %>
    <div class="container">
        <h1 class="problems-heading" style="text-align: center; font-size: 50px;">Codeforces Problem Recommender</h1><br>
        <form action="/problems" method="POST">
            <div class="row">
            <div class="col-sm-1">
 
            </div>
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="Enter comma separated tags" name="tags">
            </div>
            <div class="col-sm-1">
 
            </div>
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Upperbound" name="urating">
            </div>
 
            <div class="col-sm-2">
                <input type="text" class="form-control" placeholder="Lowerbound" name="lrating">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
            </div>
        </form>
 
        <div class="container">
            <% if(data){ %>
                <%  if(data.length ==3){ %> 
                    <h4>Try out this Problem</h4>
                    <p>Name: <%= data[0] %> </p>
                    <p>Rating: <%= data[1] %> </p>
                    <a href="<%= data[2] %> ">Click here to Start Solving!</a>
                    <input type="button" value="Reset" onClick="window.location.reload();">
                <% } else { %>
                    <p><%= data[0] %> </p>
                    <input type="button" value="Reset" onClick="window.location.reload();">
                <% } %>
            <% }else{ %>
                <p>Let's Solve a problem</p>
            <% } %>

        </div>
    </div>

    <h3 style="text-align: center;">Try out questions from these recent competitions: </h3>
    <div class="container">
        <table id="problems">
            <tr>
                <th style="width: 300px;">Date Ended</th>
                <th id="contest-name">Contest Name</th>
            </tr>

        <% for (let i = 0; i < Object.keys(contest).length; i++) { %>
            <% var end = contest[i]["end"].split("T") %>
            <tr>
                <td> <%= end[0] %> <%= end[1] %> </td>
                <td><a href=" <%= contest[i]["href"] %>"><%= contest[i]["event"]%></a></td>
            </tr>
        <% } %>
    </table>
    </div>

<%- include('../problems/footer') %>