<%- include('../main/header') %>
<div class="container">
    <h1 style="text-align: center;">This is the homepage.</h1> 
    <h3>List of the contests:</h3>
     
    
    <div class="container">	
    <table id="contest">
        <tr>
            <th style="width: 250px;">Start/End Time</th>
            <th style="width: 150px;">Duration</th>
            <th style="width: 150px;">Time Left</th>
            <th id="contest-name">Contests</th>
        </tr> 
        
        <% for (let i = 0; i < Object.keys(data).length; i++) { %>
            <% var start = data[i]["start"].split("T") %> 
            <% var end = data[i]["end"].split("T") %>
        <tr>
            <td><%= start[0] %>  <%= start[1] %></td>
            <td>02:00</td>
            <td>01:54:54</td>
            <td><a href=" <%= data[i]["href"] %>"><%= data[i]["event"]%></a></td>
        </tr>
        <% } %>

    </table>
    </div>
    

    <a href="/calender">View trial calender</a>
    <br>
</div>
<%- include('../main/footer') %>
