<%- include('../main/header') %>
<div class="container">
    <div style="text-align: center;">
        <a href="/calender" style="color: white;">View trial calender</a>
    </div>
    <div class="container">	
    <table id="contest">
        <tr>
            <th style="width: 250px;">Start/End Time</th>
            <th style="width: 150px;">Duration</th>
            <th style="width: 150px;">Time Left</th>
            <th id="contest-name">Contests</th>
        </tr> 
        
        <% for (let i = 0; i < Object.keys(data).length; i++) { %>
            <% var start = data[i]["start"].split("T") %> 
            <% var end = data[i]["end"].split("T") %>
            <% var count = data[i]["start"] %> 
            <% var duration = Math.round(data[i]["duration"]/60) %> 
        <tr>
            <td><%= start[0] %>  <%= start[1] %></td>
            <td><%= duration %> hours </td>
            <td>
                <iframe src="http://free.timeanddate.com/countdown/i7gmclc8/n54/cf12/cm0/cu4/ct1/cs1/ca0/co0/cr0/ss0/cac000/cpc090/pct/tcfff/fn3/fs100/szw320/szh135/iso<%= count %> " allowTransparency="true" frameborder="0" width="100" height="18"></iframe>
            </td>
            <td><a href=" <%= data[i]["href"] %>"><%= data[i]["event"]%></a></td>
        </tr>
        <% } %>
    </table>
    </div><br>
</div>

<%- include('../main/footer') %>