<%- include('../main/header') %>
<div class="container">
    <div style="text-align: center;">
        <a href="/calender" style="color: white;">View trial calender</a>
    </div>
    <div class="container">	
    <table id="contest">
        <tr>
            <th style="width: 250px;">Start/End Time</th>
            <th style="width: 120px;">Duration</th>
            <th style="width: 120px;">Time Left</th>
            <th id="contest-name" style="text-align: left; padding-left: 60px;">Contests</th>
        </tr> 
        
        <% for (let i = 0; i < Object.keys(data).length; i++) { %>
            <% var start = data[i]["start"].split("T"); %> 
            <% var end = data[i]["end"].split("T"); %> 
            <% var startDate = new Date(data[i]["start"]); %>
            <% var now = new Date(); %>  
            <% var duration = Math.round(data[i]["duration"]/60) %> 
            <% if(now<startDate){ %> 
            <tr>
                <td><%= start[0] %>  <%= start[1] %></td>
                <td><%= duration %> hours </td>
                <td>
                    <iframe src="http://free.timeanddate.com/countdown/i7gmclc8/n54/cf12/cm0/cu4/ct1/cs1/ca0/co0/cr0/ss0/cac000/cpc090/pct/tcfff/fn3/fs100/szw320/szh135/iso<%= data[i]["start"]; %> " allowTransparency="true" frameborder="0" width="100" height="18"></iframe>
                </td>
                <td style="text-align: left; padding-left: 60px;">
                    <% for(var key in logo){ %>
                        <% if( key == data[i]["resource"]["name"]){ %>
                            <img style="height: 22px; width: 22px;" src="<%= logo[key]%>" style="width:168px;height:168px; "></i>
                        <% } %>
                    <% } %>
                    <a style="margin-left: 5px;" href=" <%= data[i]["href"] %>"><%= data[i]["event"]%></a>
                </td>
            </tr>
            <% } else{ %> 
            <tr style="background-color: #71f5a7;">
                <td><%= end[0] %>  <%= end[1] %></td>
                <td><%= duration %> hours </td>
                <td>
                    <iframe src="http://free.timeanddate.com/countdown/i7gmclc8/n54/cf12/cm0/cu4/ct1/cs1/ca0/co0/cr0/ss0/cac000/cpc090/pct/tcfff/fn3/fs100/szw320/szh135/iso<%= data[i]["end"] %> " allowTransparency="true" frameborder="0" width="100" height="18"></iframe>
                </td>
                <td style="text-align: left; padding-left: 60px;">
                    <% for(var key in logo){ %>
                        <% if( key == data[i]["resource"]["name"]){ %>
                            <img style="height: 22px; width: 22px;" src="<%= logo[key]%>" style="width:168px;height:168px; "></i>
                        <% } %>
                    <% } %>
                    <a style="margin-left: 5px;" href=" <%= data[i]["href"] %>"><%= data[i]["event"]%></a>
                </td>
            </tr>
            <% } %> 
        <% } %>
    </table>
    </div><br>
</div>

<%- include('../main/footer') %>
