<%- include('../main/header') %>
<div class="container">
    <h1 style="text-align: center;">This is the homepage.</h1> 
    <h3>List of the contests:</h3>
    <% for (let i = 0; i < Object.keys(data).length; i++) { %>
        <% var start = data[i]["start"].split("T") %> 
        <% var end = data[i]["end"].split("T") %> 
        <a href=" <%= data[i]["href"] %>"> Name: <%= data[i]["event"]%></a>
        <p>Start</p>
        <p>Date: <%= start[0] %> Time: <%= start[1] %> </p>
        <p>End</p>
        <p>Date: <%= end[0] %> Time: <%= end[1] %> </p>
        <br> 
    <% } %> 
    <style>
        img{
            height: 100px;
            width: 100px;
        }
    </style>
    <img src="C:\Web Dev\BTP-2020\btpProject\views\icons\A.png" alt="hello">
    <a href="/calender">View trial calender</a>
    <br>
</div>
<%- include('../main/footer') %>
